/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
body {
  background: no-repeat center;
  background-color: #99cccc;
  background-size: cover;
  font-family: 'BioRhyme Expanded', serif;

}
.container {
  width: 500px;
  max-width: calc(100vw - 10px);
  height: calc(100vh - 40px);
  margin: 50px auto;
  text-align: center;
  background-color: hsla(0, 0%, 100%, .3);
  color: rgba(0,0,0,.7);
}
img {
  width: 100%;
}
img:hover {
  transform: scale(1.05);
  transition: all .2s ease-in-out;
}
img {
  transform: scale(1);
  transition: all .2s ease-in-out;
}

a {
  color: #000000;
}

h1, h2, h3 {
  padding: 10px;
  font-size: 20px;
}

p {
  font-size: 16px;
  letter-spacing: -.003em;
  line-height: 1.58;
}
i {
  padding: 10px;
  color: #666666;
}